{% extends 'base.html' %}
{% load staticfiles %}
{% block titulo %}
Biblioteca.dev | Eliminar prestamo
{% endblock titulo %}
{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/lib/datatable/dataTables.bootstrap.min.css' %}">
{% endblock extra_css %}
{% block body %}

		<form method="post">

			{% csrf_token %}

			<h1> ¿Desea eliminar {{object.titulo}}?</h1>

			<button type="submit">eliminar</button>
			<a href="{% url 'usuario:List_prestamo' %}">Cancelar </a>
			



		</form>







{% endblock body %}