{% extends 'base.html' %}
{% load staticfiles %}
{% block titulo %}
Biblioteca.dev | Listado de Prestamos
{% endblock titulo %}
{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/lib/datatable/dataTables.bootstrap.min.css' %}">
{% endblock extra_css %}
{% block body %}

<div class="card">
  <div class="card-header">
    <div class="row">
      <div class="col-md-8">
        <strong class="card-title">Listado de Prestamos</strong>
      </div>
      <div class="col-md-4">
        <a href="#" class="btn btn-primary">Pagina Pincipal</a>
        
      </div>
    </div>

  </div>
  <div class="table-stats order-table ov-h">
    <table id="tabla_autores" class="table">
      <thead>
        <tr>
          <th>#</th>
          <th>Nombre de usuario</th>
           <th>Nombre de libro</th>
           <th>Telefono</th>
          
          <th>Opciones</th>
        </tr>
      </thead>


      <tbody>
        {% if list_prestamo %}
		{% for  prestamo in list_prestamo %}
			
			<tr>
				

				<td>{{prestamo.id}}</td>
        <td>{{prestamo.user_id.first_name}}</td>
        <td>
          <ul>
        {% for book in prestamo.libro_id.all %}



             <li> {{book}} </li>


              
        {% endfor %}
        </ul>

         </td>
				
				<td>{{prestamo.user_id.phone_number}}</td>
				
					
				<td>
          <a href="{% url 'usuario:detalle_prestamo' prestamo.id%}" class="btn btn-success">Detalle</a>
          
          
         
          <a href="{% url 'usuario:delete_user' prestamo.id %}" class="btn btn-danger">Eliminar</a>

        </td>   

			{% endfor %}


			{% else %}

					<h1> No hay libro Usuario!</h1>

			{% endif %}	


          </tr>

          


      </tbody>
    </table>
    <P></P>
    <P></P>
    
    
  </div>
</div>
</div>
</div>




{% endblock body %}

{% block extrajs %}
<script src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.min.js"></script>
<script src="{% static 'js/lib/data-table/dataTables.bootstrap.min.js' %}"></script>
<script src="{% static 'js/libro/libro.js' %}"></script>
{% endblock extrajs %}